.table-hotel1 {
  position: absolute;
  top: 165px;
  width: 75%;
  left: 350px;
}
.color-paid {
  color: #ff7f50;
  font-weight: bold;
}
.bg-background {
  display: none;
}
.bg-neutral-800 {
  display: none;
}
.nav-supllier {
  background: #1f1c17;
  position: fixed;
  top: 0;
  min-height: 100%;
}
.nav-i-hover {
  transition: 0.5s ease, transform 0.5s ease;
}
.nav-i-hover:hover {
  background: #305a61;

  border-radius: 18px;
}
.highlight {
  background: #305a61;
  border-radius: 18px;
}
.active-link {
  background: #305a61;
  border-radius: 18px;
}
.fix-border {
  border: 1px solid rgba(217, 217, 217, 1);

  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
.mobi-supplier {
  display: none;
  transition: 0.5s ease, transform 0.5s ease;
}
.nav-supllier-mobi {
  display: none;
  transition: 0.5s ease, transform 0.5s ease;
}

.table-hotel {
  position: absolute;
  top: 165px;
  width: 77%;
  left: 334px;
}
.table-profile {
  position: absolute;
  top: 120px;
  width: 74%;
  left: 262px;
}
.search-add {
  position: absolute;
  left: 396px;
  top: 152px;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}
.breadcrumb{
  left: 396px;
  top: 145px;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-hotel {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 4px 0;
  padding-right: 72px;
  padding-left: 22px;
  background: #f6f6f6;
}
.search-hotel img {
  margin-left: -32px;
  cursor: pointer;
}
.button-add {
  background: #305a61;
  color: #ffffff;

  padding: 6px 12px;
  border-radius: 12px;
}
.verifile {
  height: 135px;
}
.overlay {
  display: none; /* Ban đầu ẩn overlay */
}
.nav-supllier .active {
  background-color: #fff; /* Màu nền bạn muốn sử dụng */
  color: #000; /* Màu chữ bạn muốn sử dụng */
}

.nav-supllier .active span {
  color: #000; /* Màu chữ bạn muốn sử dụng */
}
.mleft-40 {
  margin-left: 40px;
}
.none-hotel {
  display: none;
  transition: 0.5s ease, transform 0.5s ease;
}

.menu-container:hover .none-hotel {
  display: block;
  transition: 0.5s ease, transform 0.5s ease;
}
.pc-none {
  display: none;
}
.color-active{
  color: #24CD7C;
  font-weight: bold;
}
.color-stop{
  color: #F10B34;
  font-weight: bold;

}
.bk-top-table{
  background: #D9D9D9;
}
.border-solid{
  border: 1px solid #ccc;
}
.bottom-logout p:hover {
 color: #D9D9D9;
}
.active{
color: #ffffff;
background: #305A61;
border: 1px solid #ccc;
padding: 0px 8px;
border-radius: 12px;
}
@media all and (min-width: 1024px) and (max-width: 1480px) {
  .table-hotel {
    width: 66%;
  }
  .table-hotel1{
    width: 60%;
  }
}
@media all and (max-width: 1024px) {
  .table-hotel1 {
    position: absolute;
    top: 165px;
    width: 73%;
    left: 58px;
}
  .pc-none {
    display: block;
  }
  .table-hotel {
    left: 100px;
  }
  .nav-supllier {
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    margin-left: -400px;
  }
  .nav-supllier-mobi {
    background: #1f1c17;
    position: absolute;
    top: 0;
    min-height: 100%;
    right: 0;
    display: block;
    z-index: 100;
  }
  .fix-border {
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    margin-left: 0;
  }
  .mobi-supplier {
    display: block;
  }
  .times-close {
    color: #ffff;
    font-size: 37px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ mờ */
    z-index: 100; /* Đảm bảo overlay được hiển thị trên các phần tử khác */
    display: none; /* Ban đầu ẩn overlay */
  }

  .overlay.show {
    display: block; /* Hiển thị overlay khi được kích hoạt */
  }
  .search-add {
    left: 0;
  }
  .table-profile{
    width: 100%;
    left: 0;
  }
}
@media all and (max-width: 768px) {
  .search-add {
    left: 100px;
  }
  .table-hotel1 {
    position: absolute;
    top: 165px;
    width: 73%;
    left: 58px;
}
}
@media all and (max-width: 678px) {
  .table-hotel1 {
    position: absolute;
    top: 165px;
    width: 80%;
    left: 20px;
}
  .button-add {
    font-size: 12px;
  }
  .input-hotel {
    background: #f6f6f6;
    padding: 4px 0;
    padding-right: 13px;
    padding-left: 9px;
  }
}

@media all and (max-width: 500px) {
  .table-hotel {
    left: 50px;
  }
  .table-hotel1 {
   
    width: 90%;

}
  .ml-4rem {
    margin-left: 4rem;
  }
}

@media all and (max-width: 400px) {
.fix-title-400{
  display: none;
}

}
