.bk-tour{
 background-image: url("/image/tourbg.png"); 
   /* background-size: contain;  */
   background-position: center; 
   background-repeat: no-repeat; 
}
.sub-title{
  font-size: 20px;
    font-weight: 600;
    color: #4da528;
}
.heading{
  color: #081E2A;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}
.span-pack{
  color: #B6C2D4;
    font-family: cursive;
    font-weight: 600;
    font-size: 38px;
}
.fiter-bar{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px;
}

.filter-listing{
  position: relative;
  padding: 5px 40px;
  background: #FFF;
  box-shadow: 8px 1px 10px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.48px;
    text-transform: capitalize;
    border-radius: 4px;
}
.filter-listing:hover{
  color: #fff;
  background: #4da528;
  text-decoration: none;
}
.active-tour::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 10px solid #4da528;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.active-tour{
  color: #fff;
  background-color: #4da528;
}

.meta-lable {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.featured-text {
  background-color: #4da528;
  height: auto;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}
 .address-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #83827F;
}
.review{
  color: #5C727D;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.64px;
  margin-left: 4px;
}
.number-day{
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #83827F;
    margin-left: 6px;
}
 .tour-info-bottom {
  border-top: 1px solid #EFEFEF;
  padding-top: 11px;
  margin-top: 13px;
}
.from-color{
  color: #83827F;
}
.price-content{
  color: #4da528;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 6px;
}
.input__container--variant {
    border-radius: 30px;
    max-width: 100%;
    display: flex;
    justify-content: end;
    padding: 1em 1em;
  }
  
  .shadow__input--variant {
    filter: blur(25px);
    border-radius: 30px;
    background-color: #F3FFF9;
    opacity: 0.5;
  }
  
  .input__button__shadow--variant {
    border-radius: 15px;
    background-color: #305A61;
    padding: 10px;
    border: none;
  }
  
  .input__button__shadow--variant:hover {
    background-color: #3C6659;
  }
  
  .input__search--variant {
    width: 13em;
    align-items: center;
    border-radius: 13em;
    outline: none;
    border: none;
    padding: 8px 16px;
    font-size: 1.2em;
    color: #002019;
    background-color: #ebebeb47;  
  }
  
  .input__search--variant::placeholder {
    color: #002019;
    opacity: 0.7;
  }
  
  .input__container--variant {
  
    border-radius: 1.5em;
    max-width: 100%;
    display: flex;
    justify-content: end;
    padding: 1em;

  }
  
.fix-name{
    position: absolute;
    left: 11px;
    top: 7px;
    font-size: 19px;

    font-weight: 700;
}
.border-tour{
  border: 1px solid #ccc3;
  border-radius: 15px;
  padding: 8px 40px;
  background: #ebe8e826;
}
.mleft-8{
margin-left: -8px;
}

.fix-image-tour-client{
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;

}
.fix-location-length {
  /*   max-width: 200px; Điều chỉnh giá trị này để phù hợp với độ dài mong muốn */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-tour{
    border: 1px solid #ccc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -11px;
    box-shadow: 0px 4px 21px 0px #00000012;
}
.text-gach{
    text-decoration: line-through;
    color: #8E8D8A;
}
.mg--2{
    margin-top: -2px;
}
.hover-tour{
    transition: transform 0.3s ease-in-out; /* Để tạo hiệu ứng mượt mà */
}

.hover-tour:hover {
    transform: scale(1.05); /* Tăng kích thước lên 1.1 lần */
}
.mg-t-6{
    margin-top: 6px;
}
.button-kichhoat{
    display: flex;
    justify-content: end;
  }
.button-exit{
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 2px 26px;
    border-radius: 9px;
    color: #1F1C17;
}  
.button-yes{
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 2px 26px;
    border-radius: 9px;
    color: #FFFFFF;
    background: #B8101A;
}  
@media all and (max-width: 768px) {
.fix-768-tour{
    padding-top: 32px;
    padding-bottom: 12px;
}
.content-tour{
   
    margin-top: -18px;
    margin-left: 5px;
}

}
